

  

.background_admin {
    background-color: black;
}

header {
    display: flex;
    font-family: Spicy Rice, Tangerine;
    font-size: 1.8em;
     background: #02021c; 
    
}
.logo>img {
    width: 150px;
    height: 150px;
   border-radius: 50%;
   padding: 20px;
}

.footer {
   margin-top: 100%;
}


ul {
    
 display: flex;
  justify-content: center;
  margin: auto;
   
  font-size: 1.5em;
  flex-wrap: wrap;

}


h1{
    font-family: Spicy Rice, Tangerine;
    font-size: 4em;
}
h3 {

    font-family: Spicy Rice, Tangerine;
    font-size: 2em;
    
}
ul.admin {
  
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    flex-wrap: wrap;
    padding: 50px; 
}


.categorie>div>li>a {
    
   color: black;
    font-size: 1.5em;
    
}
.categorie>div {
    
    border-radius: 8px;
    background: grey;
    padding: 10px;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

.categorie {
    display: block;
   margin-top: 100px;
  
}
.categorie>li {
   margin-bottom: 20px;
  
}



.admin>li>a {
    color:#fdc500;
     
}



.admin {
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(7, 215, 7) ;
    
}
.admin th {
    border: #0004fd solid 2px;
    font-size: 1.5em;
    color: #fdc500;
}
.admin td {
    border: #fdc500 solid 1px;
    font-size: 1.2em;
}
.succes {
    text-align: center;
    color: green;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    background: lightgreen;
    width: 70vw;
    margin: auto;
}
 
li {
   
    list-style: none;
      margin: 10px;
      
}
li > a {
    text-decoration: none;
    color: blanchedalmond;

    
}
@media (min-width: 360px) and (max-width: 811px) {
    .container_articles>div {
       width: 150px;
       margin-right: 20px;
    }
    .img-article {
        width: 150px;
        
    }
}
@media (max-width: 688px) {
    ul {
        display:none;
    }
}

@media (max-width: 975px)  {
    ul {
       margin-left: 10%;
    }
    
}

@media (max-width: 900px)  {
    ul {
       margin-left: 5%;
    }
}

.card_produit {
   text-align: center;
    width: 200px ;
    height:  200px;
    border-style: solid;
    border-color: blanchedalmond;
    border-width: 1px;
    border-radius: 8px;
   
}

.card_creations {

text-align: center;
    width: 200px ;
    height:  200px;
  
    border-radius: 8px;
    background: #caf0f8;

}

.card_services {
    text-align: center;
    width: 70vw ;
    border-radius: 8px;
    box-shadow: #02021c 3px 3px 5px 5px;
    background: #ef7008;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

}
.card_services:hover {

     box-shadow: #02021c 10px 10px 5px 5px;
}
.card_show {
    text-align: center;

}
.card_show > p{
    font-size: 1.2rem;
    color: white;

}


.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50vw;
    margin: auto;
    font-size: 1.2em;

}
.container_articles {
     display: flex;
    justify-content: space-around;
     flex-wrap: wrap;
     margin-top: 100px;
     margin-bottom: 30px;
    

}
.container_articles>div {
   margin-bottom: 30px;
}

.cards_articles {
    box-shadow: #02021c 0px 0px 3px 3px;
    width: 200px;
    text-align: center ;
}
.articles>img {
    margin-top: 0px;
   border-radius: 0px;
   
}
.articles>h3 {
    margin-top: 4px;
    margin-bottom: 0px;
}
.articles {

    text-align: center;
}
.card_footer {
    text-align: center;
    background: #ef7008;
    height: 100px; 
    
}
.card_footer>a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
}
.items>h3 {
   margin-bottom: 5px;
   text-align: center;
}
.items>p {
  
   text-align: center;
}

.items:hover {
    margin-top: 150px;
   transform: scale(2);
   transition: transform 0.7s, margin-top 0.8s;
 
}
.items:hover>h3 {
    display: none;
}
.cards_articles:hover {

    box-shadow: #02021c 5px 5px 5px 5px;
}
.img-models {
     
    border-radius: 8px;
    box-shadow: #02021c 0px 0px 3px 3px;
   
    
}

.table {

    margin: auto;
}

form {

    width: 260px;
    
    margin: auto;
    margin-top: 15vh;
}
label {
    color: #fdc500;
    font-size: 1.5em;
}
input {
    margin-bottom: 20px;
}
