

body {
   background-color: rgb(4, 4, 122);
   background-image: url('/templates/Admin/PicsPresta/Uploads/icons8-machine-à-tatouer-50.png');
   background-size: 300px 300px;
    background-repeat: no-repeat;
   background-position: center;
  
}
.background_admin {
    background-color: black;
}
header {
    display: flex;
}
.title {
   color: blanchedalmond;
   text-decoration: none;
   font-size: 2em;
   text-align: center;
   margin-top: 20px;
}

ul {
    
 display: flex;
  justify-content: center;
  margin-left: 25%;
  font-size: 1.5em;
  flex-wrap: wrap;

}
 
ul.admin {
  
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    flex-wrap: wrap;
    padding: 50px;
    
}

.admin>li>a {
    color:#fdc500;
}

table.admin {
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(7, 215, 7) ;
   
}
.admin th {
    border: #0004fd solid 2px;
    font-size: 1.5em;
    color: #fdc500;
}
.admin td {
    border: #fdc500 solid 1px;
    font-size: 1.2em;
}



li {
   
    list-style: none;
   margin: 10px;
}
li > a {
    text-decoration: none;
    color: blanchedalmond;

    
}
@media (max-width: 688px) {
    ul {
        display:none;
    }
}

@media (max-width: 975px)  {
    ul {
       margin-left: 10%;
    }
}

@media (max-width: 900px)  {
    ul {
       margin-left: 5%;
    }
}
.container_produits {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-around;
}
.card_produit {
   text-align: center;
    width: 200px ;
    height:  200px;
    border-style: solid;
    border-color: blanchedalmond;
    border-width: 1px;
    border-radius: 8px;
}

.card_creations {

text-align: center;
    width: 200px ;
    height:  200px;
  
    border-radius: 8px;
    background: #caf0f8;

}

.card_services {

text-align: center;
    width: 300px ;
    border-radius: 8px;
    background: #caf0f8;
    padding: 10px;

}
.card_show {
    margin: auto;
    padding: 10px;
    text-align: center;
  
    
   
    border-radius: 8px;
    background: #caf0f8;

}

.container_models{
    display: flex;
justify-content: center;
flex-wrap: wrap;
}

.card_models {

    
}
.img-models {

    border-radius: 8px;
}

.table {

    margin: auto;
}

form {

    width: 260px;
    
    margin: auto;
    margin-top: 15vh;
}
label {
    color: #fdc500;
    font-size: 1.5em;
}
input {
    margin-bottom: 20px;
}
